@media (max-width: 768px){

    h1{
        letter-spacing: 2px;
    }

    .label{
        letter-spacing: 2px;
    }

 

    .todo-item {
        background-color: rgba($color: $contrast, $alpha: 0.25);}

    ::-webkit-calendar-picker-indicator {
        margin-left: -15px;
    
    }

    .new-todo-constructor{
        padding: 2.5em 2.5em;

        font-size: 1.1em;
            
        border-radius: 0.8em;
      
      
      
        background-color: rgba($color: $contrast, $alpha: 0.2);
      
        input::placeholder{
            letter-spacing: 0px;
        }
    }
    
  
}