
$unchecked: #7a4f9f;
$color:#3b2f8a;
$hcolor:#3a1b6f;

$contrast:#ffedd7;

$primary:#fb3a5d;
$secondary:#ff8f4e;

$gray:rgb(65, 65, 65);
$indicator: #ffedd7;

$edit-mode-text:#6054ad;

$danger: rgb(232, 95, 129);
$warning: rgb(238, 243, 96);
$safety: rgb(129, 218, 77);

.nightmare{
    $text-color:rgb(255,255,255)
}